<div class="row">
  <form [formGroup]="form" (ngSubmit)="add()">
    <div class="form-group">
      <label for="number">Numer lekcji</label>
      <input type="number" formControlName="number" class="form-control">
    </div>
    <div class="form-group">
      <label for="title">Tytuł</label>
      <input type="text" formControlName="title" class="form-control">
    </div>
    <div class="form-group">
      <label for="content">Treść</label>
      <input type="text" formControlName="content" class="form-control">
    </div>
    <button class="btn btn-primary" type="submit">
      Dodaj lekcję
    </button>
  </form>
</div>
