<div class="row">
  <div class="col-md-4 padding-top-5">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let user of users" (click)="selectUser(user)" [class.active]="user === selectedUser">
        {{ user.name }} {{ user.surname }}
      </li>
    </ul>
  </div>
  <div class="col-md-8">
    <app-user-form *ngIf="selectedUser" [User]="selectedUser" [addHandler]="addUser.bind(this)" [updateHandler]="updateUser.bind(this)"
      [deleteHandler]="deleteUser.bind(this)">
    </app-user-form>
  </div>
</div>
